<!DOCTYPE html>
<html lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="/layui/css/layui.css">
  <link rel="stylesheet" href="/css/custom.form.css">
    <style>
        .table_div{margin-top:10px}
    </style>
</head>

<body>
<div class="panel panel-default operation" hidden>
  <div class="panel-heading title"></div>
<div class="layui-card-body">
<form class="layui-form " action="" lay-filter="info" style="width: 700px;margin-top: 10px">
      <input name="id" hidden/>
        <div class="layui-form-item">
      <label class="layui-form-label">机器人型号</label>
      <div class="layui-input-block">
        <input type="xinghao" name="xinghao" placeholder="请输入机器人型号" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">机器人编号</label>
      <div class="layui-input-block">
        <input type="bianhao" name="bianhao" placeholder="请输入机器人编号" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">出厂日期</label>
      <div class="layui-input-block">
        <input type="chuchangriqi" name="chuchangriqi" placeholder="请输入出厂日期" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">硬件版本号</label>
      <div class="layui-input-block">
        <input type="yingjianbanb" name="yingjianbanb" placeholder="请输入硬件版本号" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">软件版本号</label>
      <div class="layui-input-block">
        <input type="ruanjianbanb" name="ruanjianbanb" placeholder="请输入软件版本号" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">所属单位</label>
      <div class="layui-input-block">
        <input type="suosudw" name="suosudw" placeholder="请输入所属单位" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">工作地点</label>
      <div class="layui-input-block">
        <input type="gongzuodidian" name="gongzuodidian" placeholder="请输入工作地点" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">在线状态</label>
      <div class="layui-input-block">
          <select name="zaixianzhuangtai" lay-filter="zaixianzhuangtai">
              <option value=""></option>
              <option value="0" selected="">运行</option>
              <option value="1">运行停止</option>
              <option value="2">未开机</option>
              <option value="3">充电</option>
              <option value="4">故障</option>
              <option value="5">定位故障</option>
              <option value="6">导航故障</option>
              <option value="7">传感器故障</option>
              <option value="8">系统故障</option>
          </select>
<!--        <input type="zaixianzhuangtai" name="zaixianzhuangtai" placeholder="请输入在线状态" autocomplete="off" class="layui-input">-->
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">运行里程</label>
      <div class="layui-input-block">
        <input type="yunxinglicheng" name="yunxinglicheng" placeholder="请输入运行里程" autocomplete="off" class="layui-input">
      </div>
    </div>
        <div class="layui-form-item">
      <label class="layui-form-label">备注</label>
      <div class="layui-input-block">
        <input type="beizhu" name="beizhu" placeholder="请输入备注" autocomplete="off" class="layui-input">
      </div>
    </div>
  <div class="layui-form-item">
  <div class="layui-input-block">
    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submit">保存</button>
    <button  class="layui-btn layui-btn-primary" id="btn_cancel">返回</button>
  </div>
</div>
</form>
</div>
</div>

<div class="table_div">
  <div id="searchParam"  shiro:hasPermission="robot:list">
    <div class="layui-form-item">
      <div class="layui-input-inline">
        <input type="text" id="key" class="layui-input"  autocomplete="off" placeholder="请输入机器人编号">
      </div>

      <div class="layui-input-inline ">
        <button class="layui-btn" onclick="search()"  id="search">查询</button>
        <button class="layui-btn"   id="export">导出全部</button>
      </div>
    </div>

  </div>
  <table class="layui-table" id="showTable" lay-filter="showTable" ></table>
</div>
<script type="text/html" id="toolbar">
  <div class="layui-btn-container">
    <button class="layui-btn layui-btn-sm" lay-event="add"  shiro:hasPermission="robot:add">添加</button>
    <button class="layui-btn layui-btn-sm" lay-event="batchDeleted" shiro:hasPermission="robot:delete">删除</button>
  </div>
</script>
<script type="text/html" id="tool">
  <a class="layui-btn layui-btn-xs" lay-event="edit" shiro:hasPermission="robot:update">编辑</a>
  <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del" shiro:hasPermission="robot:delete">删除</a>
</script>

</body>
</html>
<script src="/layui/layui.all.js"></script>
<script src="/js/core.util.js"></script>
<script>
  //获取token
  var token = CoreUtil.getData("access_token");
  //地址栏转义token中的#号
  var tokenQuery = token.replace("#", "%23");
  var tableIns1;
  var table = layui.table;
  var form = layui.form;
  var layer = layui.layer;
  var $ = jQuery = layui.jquery;
  var laydate = layui.laydate;

  layui.use(['table', 'layer', 'laydate'], function () {

    //加载table
    tableIns1 = table.render({
      elem: '#showTable'
      , contentType: 'application/json'
      , headers: {"authorization": token}
      , page: true //开启分页
      , url: '/robot/listByPage' //数据接口
      , method: 'POST'
      , parseData: function (res) { //将原始数据解析成 table 组件所规定的数据
        return {
          "code": res.code, //解析接口状态
          "msg": res.msg, //解析提示文本
          "count": CoreUtil.isEmpty(res.data) ? 0 : res.data.total, //解析数据长度
          "data": CoreUtil.isEmpty(res.data) ? null : res.data.records //解析数据列表
        }
      }
      , cols: [
        [
          {type: 'checkbox', fixed: 'left'},
          {field: 'id', title: '机器人信息编号', sort: true},
          {field: 'xinghao', title: '机器人型号', sort: true},
          {field: 'bianhao', title: '机器人编号', sort: true},
          {field: 'chuchangriqi', title: '出厂日期', sort: true},
          {field: 'yingjianbanb', title: '硬件版本号', sort: true},
          {field: 'ruanjianbanb', title: '软件版本号', sort: true},
          {field: 'suosudw', title: '所属单位', sort: true},
          {field: 'gongzuodidian', title: '工作地点', sort: true},
          {field: 'zaixianzhuangtai', title: '在线状态', sort: true,
              templet: function(res) {
                  if(res.zaixianzhuangtai == '0') {
                      return '运行';
                  } else if(res.zaixianzhuangtai == '1') {
                      return '运行停止';
                  } else if(res.zaixianzhuangtai == '2') {
                      return '未开机';
                  } else if(res.zaixianzhuangtai == '3') {
                      return '充电';
                  } else if(res.zaixianzhuangtai == '4') {
                      return '故障';
                  } else if(res.zaixianzhuangtai == '5') {
                      return '定位故障';
                  } else if(res.zaixianzhuangtai == '6') {
                      return '导航故障';
                  } else if(res.zaixianzhuangtai == '7') {
                      return '传感器故障';
                  } else if(res.zaixianzhuangtai == '8') {
                      return '系统故障';
                  } else {
                      return '';
                  }
              }},
          {field: 'yunxinglicheng', title: '运行里程', sort: true},
          {field: 'beizhu', title: '备注', sort: true},
          {width: 120, toolbar: "#tool", title: '操作'}
        ]
      ]
      , toolbar: '#toolbar'
    });


    //表头工具
    table.on('toolbar(showTable)', function(obj){
      switch(obj.event){
        case 'batchDeleted':
          var checkStatus = table.checkStatus(obj.config.id);
          var data = checkStatus.data;
          if(data.length==0){
            layer.msg("请选择要批量删除的列");
          }else {
            var ids = [];
            $(data).each(function (index,item) {
              ids.push(item.id);
            });
            tipDialog(ids);
          }
          break;
        case 'add':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("新增");
          $(".operation input[name=id]").val("");
          $(".operation input[name=xinghao]").val("");
          $(".operation input[name=bianhao]").val("");
          $(".operation input[name=chuchangriqi]").val("");
          $(".operation input[name=yingjianbanb]").val("");
          $(".operation input[name=ruanjianbanb]").val("");
          $(".operation input[name=suosudw]").val("");
          $(".operation input[name=gongzuodidian]").val("");
          $(".operation input[name=zaixianzhuangtai]").val("");
          $(".operation input[name=yunxinglicheng]").val("");
          $(".operation input[name=beizhu]").val("");
          break;
      };
    });
    //列操作
    table.on('tool(showTable)',function (obj) {
      var data = obj.data;
      switch (obj.event) {
        case 'del':
          var ids=[];
          ids.push(data.id);
          tipDialog(ids);
          break;
        case 'edit':
          $(".table_div").hide();
          $(".operation").show();
          $(".title").html("编辑");
          $(".operation input[name=id]").val(data.id);
          $(".operation input[name=xinghao]").val(data.xinghao);
          $(".operation input[name=bianhao]").val(data.bianhao);
          $(".operation input[name=chuchangriqi]").val(data.chuchangriqi);
          $(".operation input[name=yingjianbanb]").val(data.yingjianbanb);
          $(".operation input[name=ruanjianbanb]").val(data.ruanjianbanb);
          $(".operation input[name=suosudw]").val(data.suosudw);
          $(".operation input[name=gongzuodidian]").val(data.gongzuodidian);
          $(".operation input[name=zaixianzhuangtai]").val(data.zaixianzhuangtai);
          $(".operation input[name=yunxinglicheng]").val(data.yunxinglicheng);
          $(".operation input[name=beizhu]").val(data.beizhu);
          break;
      }
    });

    //导出
    $('#export').on('click', function () {
      //原先分页limit
      var exportParams = {
        limit: 10000,
        key: $("#key").val()
      };
      CoreUtil.sendPost("/robot/listByPage", exportParams, function (res) {
        //初始化渲染数据
        if (res.data != null && res.data.records != null) {
          table.exportFile(tableIns1.config.id, res.data.records, 'xls');
        }
      });
    });

    //删除
    var tipDialog=function (ids) {
      layer.open({
        content: "确定要删除么?",
        yes: function(index, layero){
          layer.close(index); //如果设定了yes回调，需进行手工关闭
          CoreUtil.sendDelete("/robot/delete",ids,function (res) {
            layer.msg(res.msg, {time:1000},function () {
              search();
            });
          });
        }
      });
    };

    //返回
    $("#btn_cancel").click(function() {
      $(".table_div").show();
      $(".operation").hide();
      return false;
    });

    //监听保存
    form.on('submit(submit)', function(data){
      if(data.field.id===undefined || data.field.id===null || data.field.id===""){
        CoreUtil.sendPost("/robot/add",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }else {
        CoreUtil.sendPut("/robot/update",data.field,function (res) {
          $(".table_div").show();
          $(".operation").hide();
          search();
        });
      }

      return false;
    });
  });

  //执行查询
  function search() {
    //这里以搜索为例
    tableIns1.reload({
      where: { //设定异步数据接口的额外参数，任意设
        bianhao: $("#key").val()
      }
      , page: {
        curr: 1 //重新从第 1 页开始
      }
    });
  };
</script>