<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.company.project.mapper.BlacklistMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.company.project.entity.BlacklistEntity" id="blacklistMap">
        <result property="blackid" column="blackid"/>
        <result property="xingming" column="xingming"/>
        <result property="xingbie" column="xingbie"/>
        <result property="shenfenzheng" column="shenfenzheng"/>
        <result property="chushengriqi" column="chushengriqi"/>
        <result property="chakonglx" column="chakonglx"/>
        <result property="jiaokongdw" column="jiaokongdw"/>
        <result property="jiaokongriqi" column="jiaokongriqi"/>
        <result property="danweidh" column="danweidh"/>
        <result property="chuzhi" column="chuzhi"/>
        <result property="beizhu" column="beizhu"/>
        <result property="personId" column="person_id"/>
    </resultMap>


</mapper>